{
  "extends": ["uploadcare", "plugin:react/recommended"],
  "plugins": ["react"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "new-cap": "off",
    "no-console": "off",
    "require-jsdoc": "off",
    "react/prop-types": "off"
  }
}
