{
  "extends": ["standard", "eslint-config-standard-jsx", "prettier"],
  "plugins": ["react-hooks", "prettier"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
