{
  "extends": ["standard", "eslint-config-standard-jsx", "prettier"],
  "parser": "babel-eslint",
  "plugins": ["react-hooks", "prettier"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
