<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Try Uploadcare</title>

  <link rel="apple-touch-icon" sizes="57x57" href="https://ucarecdn.com/assets/images/favicons/apple-touch-icon-57x57.ac85b3e8fddc.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://ucarecdn.com/assets/images/favicons/apple-touch-icon-60x60.3d72cc6c3b19.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://ucarecdn.com/assets/images/favicons/apple-touch-icon-72x72.80914b596af9.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://ucarecdn.com/assets/images/favicons/apple-touch-icon-76x76.14086d029e04.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://ucarecdn.com/assets/images/favicons/apple-touch-icon-114x114.7d5df140ee4f.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://ucarecdn.com/assets/images/favicons/apple-touch-icon-120x120.42f37b826666.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://ucarecdn.com/assets/images/favicons/apple-touch-icon-144x144.c0df64fe7ba5.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://ucarecdn.com/assets/images/favicons/apple-touch-icon-152x152.cf17afc546ce.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://ucarecdn.com/assets/images/favicons/apple-touch-icon-180x180.07a8d576d230.png">
  <link rel="icon" type="image/png" href="https://ucarecdn.com/assets/images/favicons/favicon-32x32.c27f006b6232.png" sizes="32x32">
  <link rel="icon" type="image/png" href="https://ucarecdn.com/assets/images/favicons/android-chrome-192x192.2279e9807512.png" sizes="192x192">
  <link rel="icon" type="image/png" href="https://ucarecdn.com/assets/images/favicons/favicon-96x96.7ff2588e373c.png" sizes="96x96">
  <link rel="icon" type="image/png" href="https://ucarecdn.com/assets/images/favicons/favicon-16x16.16da246cfaa6.png" sizes="16x16">
  <link rel="manifest" href="https://ucarecdn.com/assets/images/favicons/manifest.39888339e87c.json">
  <link rel="mask-icon" href="https://ucarecdn.com/assets/images/favicons/safari-pinned-tab.f5f74da2ffb6.svg" color="#ffd800">
  <link rel="shortcut icon" href="https://ucarecdn.com/assets/images/favicons/favicon.d82a823f08a8.ico">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="msapplication-TileImage" content="https://ucarecdn.com/assets/images/favicons/mstile-144x144.1e7522cf4c24.png">
  <meta name="msapplication-config" content="https://ucarecdn.com/assets/images/favicons/browserconfig.df0a45215b92.xml">
  <meta name="theme-color" content="#ffffff">

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script>
    UPLOADCARE_LOCALE = 'en' /* en  ar  az  ca  cs  da  de  es  et  fr  he  it  ja  lv  nb  nl  pl  pt  ru  sv  tr  zhTW  zh*/
//    UPLOADCARE_SCRIPT_BASE = '/script_base'
  </script>
</head>
<body>
<div id="root"><%- html %></div>
<script src="/static/bundle.js"></script>
</body>
</html>
